@model JinRi.Fx.Entity.SysApplicationEntity

@{
    ViewBag.Title = "新增应用";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>子系统：</label>
                <div class="controls">
                    @Html.DropDownList("SubSystemId", null, new { @id = "SubSystemId", @style = "width:135px" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.SubSystemId)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">应用编号：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.AppId, new { @id = "AppId", @class = "m-wrap small integer" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.AppId)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>中文名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.AppName, new { @class = "m-wrap", @style = "width:250px;" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.AppName)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>英文名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.AppEName, new { @class = "m-wrap", @style = "width:250px;" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.AppEName)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>应用类型：</label>
                <div class="controls">
                    @Html.DropDownList("AppTypeId", null, new { @style = "width:135px" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.AppTypeId)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>负责人：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Owner, new { @class = "m-wrap small ", @style = "width:250px;" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Owner)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">状态：</label>
                <div class="controls">
                    @Html.DropDownList("AppState", null, new { @style = "width:135px" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Status)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">备注：</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Remark, new { @class = "m-wrap", @style = "width:250px;" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Remark)</span>
                </div>
            </div>

        </div>
    </div>
}@section PageSpecificJavascriptIncludes{
    <script>
        $(function () {
            $("#AppId").val($("#SubSystemId").val() + "XX");
            $("#SubSystemId").change(function () {
                $("#AppId").val($(this).val() + "XX");
            });
        });
    </script>
}