@using JinRi.Fx.Web
@using JinRi.Fx.Entity
@using Webdiyer.WebControls.Mvc
@model JinRi.Fx.WebUI.Models.SysApplicationSearchArgs
@{
    ViewBag.Title = "应用管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, SysSubEntity> dictionarySubSystem = ViewBag.DictionarySubSystem;
    Dictionary<int, SysAppTypeEntity> dictionaryAppType = ViewBag.DictionaryAppType;
    PagedList<SysApplicationEntity> sysApplicationList = ViewBag.SysApplicationList;
}
<!--测试-->
<div class="row-fluid">
    <div class="span4">
        <div>
            @if ((this.ViewContext.Controller as JinRi.Fx.Web.ControllerBase).WorkContext.IsAdmin)
            {
                <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            }
            <a class="btn blue thickbox" title='添加应用' href="@Url.Action("Create")?TB_iframe=true&height=520&width=500"><i class="icon-plus icon-white"></i> 新增</a>
            <a class="btn blue" href="/echarts/ApplicationDependent.html" target="_blank">查看依赖</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        {
            <table style="width:100%">
                <tr>
                    <td>所属子系统：</td>
                    <td>@Html.DropDownList("SubSystemId", null, new { @style = "width:120px" })</td>
                    <td><span>状　　态：</span></td>
                    <td>
                        @Html.DropDownList("Status",
                    new List<SelectListItem> {
                        new SelectListItem { Text = "全部", Value = "-1",Selected = true},
                        new SelectListItem { Text = "启用", Value = "0" },
                        new SelectListItem { Text = "禁用", Value = "1" } },
                 new { @class = "m-wrap", @style = "width:120px" })
                    </td>
                    <td rowspan="2"><button type="submit" class="btn blue thickbox">搜索 <i class="icon-search"></i></button></td>
                </tr>
                <tr>
                    <td>　应用类型：</td>
                    <td>@Html.DropDownList("AppTypeId", null, new { @style = "width:120px" })</td>
                    <td><span>应用名称：</span></td>
                    <td>@Html.TextBox("AppName", null, new { @class = "m-wrap small" })</td>
                </tr>
            </table>
        }
    </div>
</div>

<div class="alert">
    <button class="close" data-dismiss="alert"></button>
    <strong>应用管理相关：</strong>基础数据，请勿随意删除！
</div>

@using (Html.BeginForm("Delete", "SysApplication", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;"><input type="checkbox" id="checkall" class="group-checkable" /></th>
                <th>应用编号</th>
                <th>中文名称</th>
                <th>英文名称</th>
                <th>所属子系统</th>
                <th>应用类型</th>
                <th>负责人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in sysApplicationList)
            {
                <tr title="@m.Remark" class="tooltip-control">
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@m.AppId' />
                    </td>
                    <td>@m.AppId</td>
                    <td>@m.AppName</td>
                    <td>@m.AppEName</td>
                    <td>@(!dictionarySubSystem.ContainsKey(m.SubSystemId) ? "无" : dictionarySubSystem[m.SubSystemId].SystemName)</td>
                    <td>@(!dictionaryAppType.ContainsKey(m.AppTypeId) ? "无" : dictionaryAppType[m.AppTypeId].TypeName)</td>
                    <td>@m.Owner</td>
                    <td style="@(m.Status == 0 ? "" : "color:red")">@(m.Status == 0 ? "启用" : "禁用")</td>
                    <td>
                        <a class="btn mini purple thickbox" title='编辑应用信息' href="@Url.Action("Edit", new { id = m.AppId })?TB_iframe=true&height=520&width=500">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                        <a class="btn mini purple thickbox" title='绑定依赖关系 - @m.AppEName' href="@Url.Action("Dependent", new { id = m.AppId })?TB_iframe=true&height=420&width=800">
                            绑定依赖
                        </a>
                        <a class="btn mini purple thickbox" title='查看依赖 - @m.AppEName' href="/echarts/ApplicationDependent.html?AppId=@m.AppId&TB_iframe=true&height=520&width=850">
                            查看依赖
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(sysApplicationList, new PagerOptions { PageIndexParameterName = "pageIndex" }, new { id = "flickrpager" })
</div>
